<div class="pedido">
    <div class="ped-left">
        <div class="forms">
            <input type="text" name="nome"> Nome completo
            <br>
            <br>
            <input type="text" name="" id=""> Telefone
            <br>
            <br>
            <input type="text" name="endereco">Endereço
        </div>
        <div class="opcional">
            <fieldset>
                <legend>Opcionais</legend>
                <input type="checkbox" id="coca">
                <label for="coca">Coca-Cola</label>
                Quantidade:<input type="number">
                <br>
                <input type="checkbox" id="sprite">
                <label for="sprite">Sprite</label>
                Quantidade:<input type="number">
                <br>
                <input type="checkbox" id="fanta">
                <label for="fanta">Fanta</label>
                Quantidade:<input type="number">
                <br>
                <input type="checkbox" id="kuat">
                <label for="kuat">Kuat</label>  
                Quantidade:<input type="number">
                <br>
                <br>
                Sucos: <select>
                    <option value="0" data-index="0">Selecione</option>
                    <option value="1">Maracujá</option>
                    <option value="2">Morango</option>
                    <option value="3">Melancia</option>
                    <option value="4">Manga</option>
                    <option value="5">Acerola</option>
                </select>
                <br><br>
                Batata frita: <select>
                    <option value="0">Selecione</option>
                    <option value="1">Pequena</option>
                    <option value="2">Média</option>
                    <option value="3">Grande</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="ped-right">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
        <div class="item">6</div>
    </div>

    <div class="ped-footer">
        <button class="btn">Confirmar</button>
    </div>
</div> 